header{
    height:90px;
    display:flex;
    background-color: white;
    margin-bottom: 50px;
    position:fixed;
    top: 0px;
    width: 100%;
}
nav{
    display: block;
    float:right;
    margin: auto 0 auto auto;
}

nav > h4{
    display: inline-block;
    padding: 0 10px;
    border-right: 2px solid #e8e6e6;
    color: gray;
}

nav > h4 > a{
    color: gray;
}

h4:last-child{
    border: none;
}
#headDiv{
    width: 960px;
    display: flex;
    margin: 0 auto;
}
#name{
    background-color: #4aaaa5; 
    display: inline-flex; 
    height:95%;
    text-align: center;
    margin-bottom:0px;
    margin-top:auto;
    overflow:auto;
    width: 200px;
}

#name > h1{
    margin: auto auto;
    display: block;
    color: white;
    font-size: 40px;
    padding: 0 20px;
    text-shadow: 2px 2px 5px #3d4f48;;
}

#content{
    width:960px;
    margin: 150px auto 50px auto;
}

body{
    background-image: url("../images/hexellence_@2X.png");
    background-repeat: repeat;
    /* causing unnecessary scroll */
    min-height: 100vh;
}

h1, h2{
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
}

footer{
    position:fixed;
    bottom: 0px;
    display:flex;
    background-color: #777777;
    border-top: 10px solid #4aaaa5;
    height: 60px;
    width: 100%;
}

h6{
    margin: auto auto;
}

#content{
    display:flex;
}

#main{
    margin-right:auto;
    width: 600px;
    padding: 20px 25px;
    background-color: white;
}

#main > h1{
    font-size:30px;
    margin: 15px 0 25px 0;
    color: #4aaaa5;
}

#aboutMeImg{
    float: left;
    margin: 0 15px 15px 0;
}

#CWM{
    width:270px;
    height:200px;
    background-color: white;
    display: flex;
    margin-left:auto;
    flex-direction: column;
}

h2{
    font-size: 20px;
    margin: auto auto 12px 30px;
    color: #4aaaa5;
}

hr{
    border: 0;
    clear:both;
    display:block;
    width: 75%;                
    background-color: #c8c7c7;
    height: 2px;
}

#icons{
    margin: auto;
}

.icon{
    height:70px;
    width:auto;
}

p{
    margin: 0 0 10px 0;
    line-height: 200%;
}

p:last-child{
    margin:0;
}

#hrMain{
    margin-bottom: 25px;
    width: 100%;
    height:3px;
}

form{
    font-size: 18px;
    color: gray;
}

input{
    margin: 10px 0 15px 0;
    height: 35px;
    width: 100%;
    font-size: 14px;
    color: #919090;
    padding: 4px;
    box-sizing: border-box;
}

input::-webkit-input-placeholder{
    color:#bcbbbb;
}

#message{
    height: 200px;
    resize: vertical;
    overflow: auto;
}

textarea{
    width: 100%;
    height:150px;
    resize: vertical;
    overflow: auto;
    padding: 4px;
    font-size: 14px;
    box-sizing: border-box;
    margin: 10px 0 15px 0;
    border-color: lightgrey;
}

#submit{
    width:120px;
    height:40px;
    background-color: #4aaaa5;
    color: white;
    font-size:18px;
}

#portPics{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.portPic{
    margin-bottom: 50px;
    position: relative;
    max-height:225px;
}

.portPic:nth-child(odd){
    margin-right:auto;
}

h5{
    position: absolute;
    bottom: 10px;
    background-color: #4aaaa5;
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    color: white;
}