header{
    height:100px;
    display:flex;
    background-color: white;
    margin-bottom: 50px;
    position:fixed;
    top: 0px;
    width: 100%;
}
nav{
    display: block;
    float:right;
    margin: auto 0 auto auto;
}

nav > h4{
    display: inline-block;
    padding: 0 10px;
    border-right: 2px solid black;
}

h4:last-child{
    border: none;
}
#headDiv{
    width: 960px;
    display: flex;
    margin: 0 auto;
}
#name{
    background-color: #4aaaa5; 
    display: inline-flex; 
    height:95%;
    text-align: center;
    margin-bottom:0px;
    margin-top:auto;
    overflow:auto;
}

#name > h1{
    margin: auto auto;
    display: block;
    color: white;
    font-size: 40px;
    padding: 0 20px;
    text-shadow: 2px 2px 5px black;
}

#content{
    width:960px;
    margin: 150px auto 50px auto;
}

body{
    background-image: url("../images/hexellence_@2X.png");
    background-repeat: repeat;
    /* causing unnecessary scroll */
    min-height: 100vh;
}

h1, h2{
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
}

footer{
    position:fixed;
    bottom: 0px;
    display:flex;
    background-color: #777777;
    border-top: 10px solid #4aaaa5;
    height: 60px;
    width: 100%;
}

h6{
    margin: auto auto;
}

#content{
    display:flex;
}

#aboutMe{
    margin-right:auto;
}
#CWM{
    width:270px;
    height:220px;
    background-color: white;
    display: flex;
    margin-left:auto;
    flex-direction: column;
}

h2{
    font-size: 20px;
    margin: auto;
}

hr{
    border: 0;
    clear:both;
    display:block;
    width: 75%;                
    background-image: linear-gradient(to right, #ccc, rgb(110, 110, 110), #ccc);
    height: 1px;
}

#icons{
    margin: auto;
}

.icon{
    height:70px;
    width:auto;
}